/* h1 is selector and the {} is the declaration */
h1 {
  color: rgb(88, 88, 255);
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  font-style: oblique;
  text-align: center;
}

h2 {
  color: rgb(43, 43, 119);
  font-size: 30px;
  font-family: "Arial", Arial, sans-serif;
  text-transform: capitalize;
  font-style: bold;
  text-align: start;
}

h3 {
  color: rgb(161, 161, 251);
  font-size: 25px;
  font-family: "Arial", Arial, sans-serif;
  text-transform: capitalize;
  font-style: normal;
  text-align: start;
}
h4 {
  color: rgb(85, 85, 209);
  font-size: 23px;
  font-family: "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  font-style: bold;
  text-align: center;
}

li {
  color: rgba(0, 0, 0, 0.888);
  font-size: medium;
  font-style: oblique;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: aliceblue;
}
p {
  font-size: 15px;
  font-family: sans-serif;
  font-style: normal;
  text-align: justify;
  list-style: 1.3;
}

footer {
  background-color: #d6d6d6;
  text-align: end;
  text-shadow: 10px;
}
