h1,
h2,
h3,
h4,
p,
li {
  font-family: "Arial Narrow", Arial, sans-serif;
}

/* h1 is selector and the {} is the declaration */
h1,
h2,
h3,
h4 {
  color: #5858ff;
  background-color: #000f53;
}
h1 {
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  font-style: oblique;
  text-align: center;
}

h2 {
  /* color: rgb(43, 43, 119);   */
  font-size: 30px;
  text-transform: capitalize;
  font-style: bold;
  text-align: start;
}

h3 {
  color: rgb(161, 161, 251);
  font-size: 25px;
  text-transform: capitalize;
  font-style: normal;
  text-align: center;
}
h4 {
  color: rgb(161, 161, 251);
  font-size: 23px;
  text-transform: uppercase;
  font-style: bold;
  text-align: start;
}

li {
  color: rgba(0, 0, 0, 0.888);
  font-size: medium;
  font-style: oblique;
}
p {
  font-size: 15px;
  font-family: sans-serif;
  font-style: normal;
  text-align: justify;
  list-style: 1.3;
}

footer {
  background-color: #d6d6d6;
  text-align: end;
  text-shadow: 10px;
}

#Author {
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-style: italic;
  text-align: start;
}

.rel-author {
  color: rgb(51, 173, 255);
  font-size: 16px;
  /* font-style: bold; */
  font-weight: bolder;
  text-align: start;
}

.related {
  list-style: none;
}

aside {
  background-color: #833efb;
  border: 3px;
  border-style: groove;
  border-bottom: #000f53;
  border-top: #000f53;
}

body {
  background-color: #b9b9f6;
}

li:first-child {
  font-weight: bold;
  font-style: italic;
}

.rel-item {
  background-color: aliceblue;
}

/* Styling Hyperlinks */
a:link {
  color: #0000ff;
  text-decoration: none;
}

/* Changes color if the link is visited */
/* a:visited {
  color: #ff5aff;
  text-decoration: none;
} */

a:hover {
  color: #2d0352;
  text-decoration: underline;
  text-shadow: #b9b9f6 2px 2px 4px;
  font-weight: bold;
}

a:active {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
/* LVHA */
